<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.completed ? '✅' : '🆘' %>
      <%= link_to task.title, task %>
      <%= link_to "🚮", task, method: :delete, data: {confirm: "SURE ?"} %>
    </li>
  <% end %>
</ul>

<hl>

<%= link_to "Add a new task", "/tasks/new" %>
