<h2> <%= @task.title %> </h2>
<p> <%= @task.details %> </p>
<% if @task.completed %>
  <p>You already done this task ...</p>
<% else %>
  <p>You should hurry, task still not done !</p>
<% end %>

<%= link_to "Edit task", task_edit_url %>

<%= link_to "Back to list", "/tasks" %>
